<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>

<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="description" content="" />
<meta name="author" content="" />

<title>SB Admin 2 - Bootstrap Admin Theme</title>


<!-- DataTables CSS -->
<link th:href="@{vendor/datatables-plugins/dataTables.bootstrap.css}"
	rel="stylesheet" media="screen" />

<!-- DataTables Responsive CSS -->
<link
	th:href="@{vendor/datatables-responsive/dataTables.responsive.css}"
	rel="stylesheet" media="screen" />

<!-- Bootstrap Core CSS -->
<link th:href="@{vendor/bootstrap/css/bootstrap.min.css}"
	rel="stylesheet" media="screen"></link>
<link th:href="@{vendor/metisMenu/metisMenu.min.css}" rel="stylesheet"
	media="screen"></link>
<!-- Custom CSS -->
<link th:href="@{dist/css/sb-admin-2.css}" rel="stylesheet"
	media="screen"></link>

<!-- Morris Charts CSS -->
<link th:href="@{vendor/morrisjs/morris.css}" rel="stylesheet"
	media="screen"></link>

<!-- Custom Fonts -->
<link th:href="@{vendor/font-awesome/css/font-awesome.min.css}"
	rel="stylesheet" media="screen"></link>

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

	<div id="wrapper">

		<!-- Navigation -->
		<nav class="navbar navbar-default navbar-static-top" role="navigation"
			style="margin-bottom: 0">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="index.html">SB Admin v2.0</a>
			</div>
			<!-- /.navbar-header -->

			<ul class="nav navbar-top-links navbar-right">
				<li class="dropdown"><a class="dropdown-toggle"
					data-toggle="dropdown" href="#"> <i
						class="fa fa-envelope fa-fw"></i> <i class="fa fa-caret-down"></i>
				</a>
					<ul class="dropdown-menu dropdown-messages">
						<li><a href="#">
								<div>
									<strong>John Smith</strong> <span class="pull-right text-muted">
										<em>Yesterday</em>
									</span>
								</div>
								<div>Lorem ipsum dolor sit amet, consectetur adipiscing
									elit. Pellentesque eleifend../../static.</div>
						</a></li>
						<li class="divider"></li>
						<li><a href="#">
								<div>
									<strong>John Smith</strong> <span class="pull-right text-muted">
										<em>Yesterday</em>
									</span>
								</div>
								<div>Lorem ipsum dolor sit amet, consectetur adipiscing
									elit. Pellentesque eleifend../../static.</div>
						</a></li>
						<li class="divider"></li>
						<li><a href="#">
								<div>
									<strong>John Smith</strong> <span class="pull-right text-muted">
										<em>Yesterday</em>
									</span>
								</div>
								<div>Lorem ipsum dolor sit amet, consectetur adipiscing
									elit. Pellentesque eleifend../../static.</div>
						</a></li>
						<li class="divider"></li>
						<li><a class="text-center" href="#"> <strong>Read
									All Messages</strong> <i class="fa fa-angle-right"></i>
						</a></li>
					</ul> <!-- /.dropdown-messages --></li>
				<!-- /.dropdown -->
				<li class="dropdown"><a class="dropdown-toggle"
					data-toggle="dropdown" href="#"> <i class="fa fa-tasks fa-fw"></i>
						<i class="fa fa-caret-down"></i>
				</a>
					<ul class="dropdown-menu dropdown-tasks">
						<li><a href="#">
								<div>
									<p>
										<strong>Task 1</strong> <span class="pull-right text-muted">40%
											Complete</span>
									</p>
									<div class="progress progress-striped active">
										<div class="progress-bar progress-bar-success"
											role="progressbar" aria-valuenow="40" aria-valuemin="0"
											aria-valuemax="100" style="width: 40%">
											<span class="sr-only">40% Complete (success)</span>
										</div>
									</div>
								</div>
						</a></li>
						<li class="divider"></li>
						<li><a href="#">
								<div>
									<p>
										<strong>Task 2</strong> <span class="pull-right text-muted">20%
											Complete</span>
									</p>
									<div class="progress progress-striped active">
										<div class="progress-bar progress-bar-info" role="progressbar"
											aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"
											style="width: 20%">
											<span class="sr-only">20% Complete</span>
										</div>
									</div>
								</div>
						</a></li>
						<li class="divider"></li>
						<li><a href="#">
								<div>
									<p>
										<strong>Task 3</strong> <span class="pull-right text-muted">60%
											Complete</span>
									</p>
									<div class="progress progress-striped active">
										<div class="progress-bar progress-bar-warning"
											role="progressbar" aria-valuenow="60" aria-valuemin="0"
											aria-valuemax="100" style="width: 60%">
											<span class="sr-only">60% Complete (warning)</span>
										</div>
									</div>
								</div>
						</a></li>
						<li class="divider"></li>
						<li><a href="#">
								<div>
									<p>
										<strong>Task 4</strong> <span class="pull-right text-muted">80%
											Complete</span>
									</p>
									<div class="progress progress-striped active">
										<div class="progress-bar progress-bar-danger"
											role="progressbar" aria-valuenow="80" aria-valuemin="0"
											aria-valuemax="100" style="width: 80%">
											<span class="sr-only">80% Complete (danger)</span>
										</div>
									</div>
								</div>
						</a></li>
						<li class="divider"></li>
						<li><a class="text-center" href="#"> <strong>See
									All Tasks</strong> <i class="fa fa-angle-right"></i>
						</a></li>
					</ul> <!-- /.dropdown-tasks --></li>
				<!-- /.dropdown -->
				<li class="dropdown"><a class="dropdown-toggle"
					data-toggle="dropdown" href="#"> <i class="fa fa-bell fa-fw"></i>
						<i class="fa fa-caret-down"></i>
				</a>
					<ul class="dropdown-menu dropdown-alerts">
						<li><a href="#">
								<div>
									<i class="fa fa-comment fa-fw"></i> New Comment <span
										class="pull-right text-muted small">4 minutes ago</span>
								</div>
						</a></li>
						<li class="divider"></li>
						<li><a href="#">
								<div>
									<i class="fa fa-twitter fa-fw"></i> 3 New Followers <span
										class="pull-right text-muted small">12 minutes ago</span>
								</div>
						</a></li>
						<li class="divider"></li>
						<li><a href="#">
								<div>
									<i class="fa fa-envelope fa-fw"></i> Message Sent <span
										class="pull-right text-muted small">4 minutes ago</span>
								</div>
						</a></li>
						<li class="divider"></li>
						<li><a href="#">
								<div>
									<i class="fa fa-tasks fa-fw"></i> New Task <span
										class="pull-right text-muted small">4 minutes ago</span>
								</div>
						</a></li>
						<li class="divider"></li>
						<li><a href="#">
								<div>
									<i class="fa fa-upload fa-fw"></i> Server Rebooted <span
										class="pull-right text-muted small">4 minutes ago</span>
								</div>
						</a></li>
						<li class="divider"></li>
						<li><a class="text-center" href="#"> <strong>See
									All Alerts</strong> <i class="fa fa-angle-right"></i>
						</a></li>
					</ul> <!-- /.dropdown-alerts --></li>
				<!-- /.dropdown -->
				<li class="dropdown"><a class="dropdown-toggle"
					data-toggle="dropdown" href="#"> <i class="fa fa-user fa-fw"></i>
						<i class="fa fa-caret-down"></i>
				</a>
					<ul class="dropdown-menu dropdown-user">
						<li><a href="#"><i class="fa fa-user fa-fw"></i> User
								Profile</a></li>
						<li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
						</li>
						<li class="divider"></li>
						<li><a href="login.html"><i class="fa fa-sign-out fa-fw"></i>
								Logout</a></li>
					</ul> <!-- /.dropdown-user --></li>
				<!-- /.dropdown -->
			</ul>
			<!-- /.navbar-top-links -->

			<div class="navbar-default sidebar" role="navigation">
				<div class="sidebar-nav navbar-collapse">
					<ul class="nav" id="side-menu">
						<li class="sidebar-search">
							<div class="input-group custom-search-form">
								<input type="text" class="form-control"
									placeholder="Search../../static." /> <span
									class="input-group-btn">
									<button class="btn btn-default" type="button">
										<i class="fa fa-search"></i>
									</button>
								</span>
							</div> <!-- /input-group -->
						</li>
						<li><a th:href="@{/}"><i class="fa fa-dashboard fa-fw"></i>
								Dashboard</a></li>
						<li><a href="#"><i class="fa fa-bar-chart-o fa-fw"></i>
								Charts<span class="fa arrow"></span></a>
							<ul class="nav nav-second-level">
								<li><a th:href="@{/monitor}">Speed</a></li>
								<li><a th:href="@{/chartFlot}">Flot Charts</a></li>
							</ul> <!-- /.nav-second-level --></li>
						<li><a href="tables.html"><i class="fa fa-table fa-fw"></i>
								Tables</a></li>
						<li><a href="forms.html"><i class="fa fa-edit fa-fw"></i>
								Forms</a></li>
						<li><a href="#"><i class="fa fa-files-o fa-fw"></i>
								Sample Pages<span class="fa arrow"></span></a>
							<ul class="nav nav-second-level">
								<li><a th:href="@{/monitor}">Monitor Page</a></li>
								<li><a href="sbadmin/blank.html"
									th:href="@{/sbadmin/blank}">Blank Page</a> <!-- <a th:href="@{http://www.thymeleaf.org}">thymeleaf.org</a> -->
								</li>
								<li><a href="login.html" th:href="@{/login}">Login Page</a>
								</li>
							</ul> <!-- /.nav-second-level --></li>
					</ul>
				</div>
				<!-- /.sidebar-collapse -->
			</div>
			<!-- /.navbar-static-side -->
		</nav>

		<div id="page-wrapper">
			<div class="row">
				<div class="col-lg-12">
					<h1 class="page-header">fix</h1>
				</div>
				<!-- /.col-lg-12 -->
			</div>
			
			<!-- fix start -->
			<div class="row">
                <div class="col-lg-6">
                    <div class="panel panel-default">
                       <div class="panel-heading">
                            Mysql
                       </div>
                      <div class="panel-body">
                        	<form action="#" th:action="@{/fix}" th:object="${fix}" method="post">
                                <div  id="profile">
                                     <div class="form-group">
                                           <label>source</label>
                                           <p>all to one</p>
                                             <label>sourceSQL</label>
                                           <textarea class="form-control" placeholder="select column1,column2 from table where *** " rows="4" th:field="*{sourceSql}"></textarea>

                                           <br/>
                                           <label>target</label>
                                           <p>like: 192.168.1.1,3306,dbname,tango,123456</p>
                                           <input type="text" class="form-control" placeholder="ipHost,port,dbname,username,password" th:field="*{targetDbInfo}" />
                                           <br/>
                                           <label>targetSQL</label>
                                           <textarea class="form-control" placeholder="insert into table(column1,column2)values(column1,column2) " rows="4" th:field="*{targetSql}"></textarea>
                                       </div>
                                      <!--  <button type="submit" class="btn btn-success">统计</button> -->
                                       <button type="submit" class="btn btn-success" onclick="javascript:{this.disabled=true;document.form1.submit();}">执行</button>
                                </div>
                            </form>
                    	</div>
                   </div>
                </div>
                <!-- /.col-lg-6 -->
                <div class="col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            tableDetail
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <!-- Nav tabs -->
                            <ul class="nav nav-pills">
                                <li class="active"><a href="#home-pills" data-toggle="tab">taking</a>
                                </li>
                                <li><a href="#profile-pills" data-toggle="tab">handon</a>
                                </li>
                                <li><a href="#messages-pills" data-toggle="tab">signature</a>
                                </li>
                                <li><a href="#settings-pills" data-toggle="tab">container</a>
                                </li>
                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div class="tab-pane fade in active" id="home-pills">
                                   <div class="form-group">
                                       <label>source</label>
                                       <p>orderid, id, waybill_no, exp_type, pkg_qty, emp_code, emp_name, business_type_code, express_content_code, effective_type_code, transport_type_code, weigh_weight, input_weight, pkg_length, pkg_width, pkg_height, volume_weight, goods, air_forbidden, fee_flag, fee_amt, customer_code, customer_name, pay_type, source_org_code, des_org_code, org_code, ie_flag, parentchild_flag, return_waybill_no, parent_waybill_no, frequency_no, delegate_org_code, order_no, upload_time, op_code, aux_op_code, route_code, aux_route_code, status, transfer_status, create_time, create_user_code, create_user_name, create_org_code, create_terminal, device_type, remark, ref_id, modify_time, modify_user_code, modify_user_name, modify_org_code, modify_terminal, trace_status, des_prov, des_city, des_country, query_flag, org_type, error_times, sn_no, data_status, occ_status, operate_time, data_id, error_message</p>
                                       <label>success/deal/archive</label>
                                       <p>orderid, id, waybill_no, exp_type, pkg_qty, emp_code, emp_name, business_type_code, express_content_code, effective_type_code, transport_type_code, weigh_weight, input_weight, pkg_length, pkg_width, pkg_height, volume_weight, goods, air_forbidden, fee_flag, fee_amt, customer_code, customer_name, pay_type, source_org_code, des_org_code, org_code, ie_flag, parentchild_flag, return_waybill_no, parent_waybill_no, frequency_no, delegate_org_code, order_no, upload_time, op_code, aux_op_code, route_code, aux_route_code, status, transfer_status, create_time, create_user_code, create_user_name, create_org_code, create_terminal, device_type, remark, ref_id, modify_time, modify_user_code, modify_user_name, modify_org_code, modify_terminal, trace_status, des_prov, des_city, des_country, query_flag, org_type, error_times, sn_no, occ_status, error_message, operate_time, data_id</p>
                                       <label>unsuccess/terminal</label>
                                       <p>orderid, id, waybill_no, exp_type, pkg_qty, emp_code, emp_name, business_type_code, express_content_code, effective_type_code, transport_type_code, weigh_weight, input_weight, pkg_length, pkg_width, pkg_height, volume_weight, goods, air_forbidden, fee_flag, fee_amt, customer_code, customer_name, pay_type, source_org_code, des_org_code, org_code, ie_flag, parentchild_flag, return_waybill_no, parent_waybill_no, frequency_no, delegate_org_code, order_no, upload_time, op_code, aux_op_code, route_code, aux_route_code, status, transfer_status, create_time, create_user_code, create_user_name, create_org_code, create_terminal, device_type, remark, ref_id, modify_time, modify_user_code, modify_user_name, modify_org_code, modify_terminal, trace_status, des_prov, des_city, des_country, query_flag, org_type, error_times, sn_no, data_status, occ_status, operate_time, data_id, error_message</p>
                                   </div>
                                </div>
                                <div class="tab-pane fade" id="profile-pills">
                                    <h4>Profile Tab</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                </div>
                                <div class="tab-pane fade" id="messages-pills">
                                    <h4>Messages Tab</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                </div>
                                <div class="tab-pane fade" id="settings-pills">
                                    <h4>Settings Tab</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                </div>
                            </div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-6 -->
            </div>
            <!-- /.row -->
			
			<!-- fix end -->
			
		</div>
		<!-- /#page-wrapper -->

	</div>
	<!-- /#wrapper -->

	<!-- jQuery -->
	<script th:src="@{vendor/jquery/jquery.min.js}"></script>

	<!-- Bootstrap Core JavaScript -->
	<script th:src="@{vendor/bootstrap/js/bootstrap.min.js}"></script>

	<!-- Metis Menu Plugin JavaScript -->
	<script th:src="@{vendor/metisMenu/metisMenu.min.js}"></script>

	<!-- DataTables JavaScript -->
	<script th:src="@{vendor/datatables/js/jquery.dataTables.min.js}"></script>
	<script
		th:src="@{vendor/datatables-plugins/dataTables.bootstrap.min.js}"></script>
	<script
		th:src="@{vendor/datatables-responsive/dataTables.responsive.js}"></script>

	<!-- Custom Theme JavaScript -->
	<script th:src="@{dist/js/sb-admin-2.js}"></script>

	<!-- Page-Level Demo Scripts - Tables - Use for reference -->
	<script>
	    $(document).ready(function() {
	        $('#dataTables-example').DataTable({
	            responsive: true
	        });
	    });
    </script>

</body>

</html>


